.classpath
*classpath*
.classpath
git-daemon-export-ok
.settings/
target/
build/
WebContent/WEB-INF/lib
git*
.checkstyle
.project
.settings
bin
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html