
.classpath
*classpath*
.classpath
git-daemon-export-ok
.settings/
target/
build/
WebContent/WEB-INF/lib
git*
.checkstyle
.project
.settings
bin
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.class
*.orig
*.java.orig

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# PMD #
ruleset.xml
.pmd
.eclipse-pmd

# SONARQUBE #
scanner.txt
sonar-project.properties
.sonar/

dependency_tree.txt
README2-md
gitdaemon.bat
serverstart.bat
workflow.bat
*.zip
