<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="trace" monitorInterval="30" name="testConfiguration"
    strict="true"
    schema="Log4J-V2.0.xsd">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			<!-- Flow tracing is most useful with a pattern that shows location. Below pattern outputs class, line number and method name. -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<File name="log" fileName="target/test.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
	</Appenders>
    
	<Loggers>

		<Root level="debug">
			<AppenderRef ref="log" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>